<h1>Liste Client </h1>

<div >

<span *ngFor="let liste of listeClient">

       <p class="detailListe" id="id">Id : {{liste.id}}</p> 
       <p class="detailListe" id="nom">Nom du contact : {{liste.nom}}</p> 
        <p class="detailListe" id="prenom">Prenom du contact :{{liste.prenom}}</p>
        <p class="detailListe" id="adresse">Adresse : {{liste.adresse}}</p>
        <p class="detailListe" id="telephone">telephone : {{liste.telephone}}</p>
        <p class="detailListe" id="photo">Photo : {{liste.photo}}</p>
        <p class="detailListe" id="boolean">Client : {{liste.client}}</p>


</span>


</div>
